<script>
	UKMresources.radioButtons.on('change', function (id, value) {
jQuery('#detaljer_' + id).slideToggleBool(value === 'true');
});
</script>

{% if arrangement.getProgram().getAbsoluteAll()|length == 0 %}
	<ol class="list-group">
		<li class="list-group-item">
			<p class="text-danger">
				Du må sette opp
				<a href="index.php?page=UKMprogram">programmet ditt</a>
				før du kan sette opp en sendeplan.
			</p>
		</li>
	</ol>
{% else %}
	<ol class="list-group sendeplan">
		{% for hendelse in arrangement.getProgram().getAbsoluteAll() %}
			<li class="list-group-item hendelse">
				<div class="pull-right">
					<div class="btn-group radioButtons" data-name="livestream_{{hendelse.getId()}}">
						<button type="button" class="btn btn-default btn-xs dashicons dashicons-video-alt2 {{ hendelse.harSending() ? 'selected' }}" value="true">&nbsp;</button>
						<button type="button" class="btn btn-default btn-xs dashicons dashicons-hidden {{ not hendelse.harSending() ? 'selected' }}" value="false">&nbsp;</button>
					</div>
				</div>
                <small class="text-muted">{{ hendelse.getStart()|dato('D j. M H:i') }}</small>
                <br />
				<div class="bold">
                    {{ hendelse.getNavn() }}
                </div>
				<div class="clearfix"></div>
				<div id="detaljer_livestream_{{hendelse.getId()}}" {{ true ? 'style="display:none;"'}}>
					{% include "livestream/hendelse.html.twig" %}
				</div>
			</li>
		{% endfor %}
	</ol>

    <p>
		<button type="submit" class="btn btn-success btn-ukm">Lagre</button>
    </p>
{% endif %}
