{% extends "layout.html.twig" %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
                <h2>Slik setter du opp direktesending på nettsiden</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-5">
				<h4>Trinn 1: Opprette livestream-hendelse (event)</h4>
				<p>Bruker du noe annet enn livestream, gå til trinn 2</p>

				<div class="row">
					<div class="col-xs-6">
						<div class="card alert-info">
							<strong>INNLOGGINGSDETALJER</strong>
							<ol class="list-unstyled">
								<li>
									<strong>Adresse:</strong>
									<a href="https://new.livestream.com/" target="_blank">https://new.livestream.com</a>
								</li>
								<li>
									<strong>Brukernavn:</strong>
									{{ livestream.brukernavn }}
								</li>
								<li>
									<strong>Passord:</strong>
									{{ livestream.passord }}
								</li>
							</ol>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="card alert-warning">
							<strong>REGLER FOR BRUK AV UKM NORGES LIVESTREAM</strong>
							<ol>
								<li>Aldri endre passord!</li>
								<li>Opprett et eget event, og endre kun på dette.</li>
								<li>Kontoen skal
									<u>kun</u>
									brukes til å streame UKM-arrangementer.</li>
								<li>Kontakt support
									<u>i god tid før mønstring</u>
									hvis du har spørsmål om tjenesten.</li>
							</ol>
						</div>
					</div>
				</div>

				<h4>Trinn 2: Legge til direktesending på nettsiden</h4>
				<form action="?page=UKMvideo&action=livestream" method="post">
					<div class="form-group">
						<label for="live_link">Lenke til stream-siden</label>
						<input value="{{ livestream.url }}" type="text" class="form-control" id="live_link" style="margin-bottom: 0;" name="live_link" placeholder="Skriv inn full URL til hvor du kan se på streamen"/>
						<p class="help">Kopier adresselinjen når du er inne på event-siden</p>
					</div>

					<div class="form-group">
						<label for="live_embedcode">Eventuell embed-kode</label>
						<textarea class="form-control" id="live_embedcode" name="live_embedcode" style="margin-bottom: 0;" placeholder="Lim inn embedcode fra streaming-tjeneste">{{ livestream.embed }}</textarea>
						<p class="help">Dette er kun tilgjengelig under fylkesmønstringer, eller ved bruk av en annen tjeneste enn livestream.com</p>
					</div>
					<button type="submit" class="btn btn-success">Lagre</button>
                    eller <a href="?page={{GET('page')}}">avbryt</a>
				</form>

                <h4>Trinn 3: Stream sendingen</h4>
				<p>
					Last ned "livestream producer" for
					<a href="https://cdn.livestream.com/producer/LivestreamProducer.pkg" target="_blank">mac</a>
					eller
					<a href="https://cdn.livestream.com/producer/LivestreamProducer.exe" target="_blank">pc</a>. Logg inn med brukernavn og passord, velg riktig event, og start stream.
				</p>
			</div>
			<div class="col-xs-12 col-md-7">
				{% include "livestream_visning.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
